@charset "UTF-8";
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.botonGeneral {
  background-color: #EE0334;
  color: #f1f1f1;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  padding: 8px;
}

/*Header*/
body {
  padding-top: 21rem;
}
@media screen and (max-width: 650px) {
  body {
    padding-top: 8rem;
  }
}
body header {
  background-color: #EE0334;
  display: grid;
  grid-template-areas: "miniatura menu boton" "titulo titulo titulo";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3rem 18rem;
  align-items: center;
  margin-top: -21rem;
  width: 100vw;
  position: fixed;
}
@media screen and (max-width: 950px) {
  body header {
    grid-template-columns: auto 20rem auto;
  }
}
@media screen and (max-width: 650px) {
  body header {
    grid-template-rows: 3rem 5rem;
    margin-top: -8rem;
  }
}
body header .miniatura {
  grid-area: miniatura;
  width: 3rem;
  height: 2rem;
  padding-left: 0.5rem;
}
body header .miniatura img {
  width: auto;
  height: auto;
  max-width: 2rem;
  max-height: 2rem;
}
@media screen and (max-width: 650px) {
  body header .miniatura {
    display: none;
  }
}
body header .menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0.5rem;
}
@media screen and (max-width: 650px) {
  body header .menu {
    padding: 0.2rem;
  }
}
body header .menu li:hover {
  transform: scale(1.6, 1.6);
  transition-duration: 0.2s;
}
body header .menu a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 16px;
  padding: 10px 23px;
}
@media screen and (max-width: 650px) {
  body header .menu a {
    font-size: 0.8rem;
    padding: 4px 13px;
  }
}
body header .boton {
  grid-area: boton;
  justify-self: right;
  padding: 1.5rem;
}
body header .boton .boton__solicitar {
  color: #f1f1f1;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 1rem;
  border: solid 2px #f1f1f1;
  border-radius: 8px;
  text-decoration: none;
  padding: 4px;
}
@media screen and (max-width: 650px) {
  body header .boton {
    display: none;
  }
}
body header .titulo {
  grid-area: titulo;
  background-image: url(../Imagenes/fondo.jpg);
  width: 100vw;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 650px) {
  body header .titulo {
    height: 5rem;
  }
}
body header .titulo img {
  object-fit: cover;
  max-width: 80%;
  max-height: 80%;
}

header {
  background-color: #EE0334;
  display: grid;
  grid-template-areas: "miniatura menu boton" "titulo titulo titulo";
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 3rem 18rem;
  align-items: center;
}
header .miniatura {
  grid-area: miniatura;
  width: 2rem;
  height: 2rem;
  padding-left: 0.5rem;
}
header .miniatura img {
  width: auto;
  height: auto;
  max-width: 2rem;
  max-height: 2rem;
}
header .menu {
  grid-area: menu;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  padding: 0.5rem;
}
header .menu li:hover {
  transform: scale(1.6, 1.6);
  transition-duration: 0.1s;
}
header .menu a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 16px;
  padding: 10px 23px;
}
header .boton {
  grid-area: boton;
  justify-self: right;
  padding: 0.5rem;
}
header .boton .boton__solicitar {
  color: #f1f1f1;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 1rem;
  border: solid 2px #f1f1f1;
  border-radius: 8px;
  text-decoration: none;
  padding: 4px;
}
header .titulo {
  grid-area: titulo;
  background-image: url(../Imagenes/fondo.jpg);
  width: 100%;
  height: 18rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .titulo .titulo__h1 {
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 6rem;
  text-align: center;
}
header .titulo img {
  width: auto;
  height: auto;
  max-width: 15rem;
  max-height: 15rem;
}

/* Main- Tarjetas de servicios*/
.mainAgua {
  background-image: linear-gradient(#0388A6, #05F2DB, #f1f1f1);
}
.mainAgua .sectioncards {
  display: grid;
  grid-template-areas: ". web mobil branding ." ". . boton . .";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 37rem 8rem;
  align-items: center;
  justify-items: center;
}
@media screen and (max-width: 650px) {
  .mainAgua .sectioncards {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    padding: 1rem;
  }
}
.mainAgua .sectioncards #web {
  grid-area: web;
}
.mainAgua .sectioncards #movil {
  grid-area: mobil;
}
.mainAgua .sectioncards #branding {
  grid-area: branding;
}
.mainAgua .sectioncards .boton2 {
  grid-area: boton;
}
.mainAgua .sectioncards .card {
  width: 19rem;
  height: 31rem;
  display: grid;
  grid-template-rows: 15rem auto 1fr;
  grid-row-gap: 1rem;
  justify-items: center;
  align-items: center;
  margin: 0.5rem;
  margin-top: 1rem;
  padding: 1.5rem 0.8rem;
}
@media screen and (max-width: 950px) {
  .mainAgua .sectioncards .card {
    grid-template-rows: 12rem auto 1fr;
    width: 15rem;
    height: 31rem;
  }
}
.mainAgua .sectioncards .card:hover {
  border: solid 2px #20818C;
  border-radius: 28px;
  transition-duration: 0.2s;
}
.mainAgua .sectioncards .card .card__img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}
.mainAgua .sectioncards .card .card__titulo {
  color: #032026;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
@media screen and (max-width: 650px) {
  .mainAgua .sectioncards .card .card__titulo {
    font-size: 2rem;
  }
}
.mainAgua .sectioncards .card .card__texto {
  color: #095F73;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  font-size: 1rem;
  justify-self: stretch;
  margin-top: 0.5rem;
}
.mainAgua .sectioncards .boton2:hover {
  transform: scale(1.3, 1.3);
  transition-duration: 0.2s;
}
.mainAgua .sectioncards .boton2 .boton2__general {
  background-color: #EE0334;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 22px;
  font-weight: 500;
  border-radius: 18px;
  text-decoration: none;
  padding: 8px;
}
@media screen and (max-width: 650px) {
  .mainAgua .sectioncards .boton2 .boton2__general {
    font-size: 1rem;
    border-radius: 12px;
    padding: 6px;
  }
}

/*Beneficios*/
.beneficios {
  background-color: #f1f1f1;
  border-top: solid 2px #095F73;
  text-align: center;
  padding-top: 1rem;
}
.beneficios .beneficios__titulo animate__animated animate__bounceInLeft {
  color: #032026;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 2rem;
}
@media screen and (max-width: 650px) {
  .beneficios .beneficios__titulo animate__animated animate__bounceInLeft {
    font-size: 1.5rem;
  }
}
.beneficios .beneficios__lista {
  margin: auto;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  border-top: solid 2px #095F73;
  color: #095F73;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 1rem;
  font-weight: bolder;
}

/*Footer*/
.footer {
  background-color: #EE0334;
  display: grid;
  grid-template-areas: "redes contacto";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3rem;
  padding: 0.5rem;
}
.footer .footer__redes {
  grid-area: redes;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.footer .footer__redes .footerCard__titulo {
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  margin: inherit;
}
@media screen and (max-width: 650px) {
  .footer .footer__redes .footerCard__titulo {
    display: none;
  }
}
.footer .footer__redes .footerCard__list {
  list-style-type: none;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  margin: inherit;
  padding-left: 2.5rem;
}
@media screen and (max-width: 650px) {
  .footer .footer__redes .footerCard__list {
    padding-left: 1rem;
  }
}
.footer .footer__redes a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
}
.footer .footer__redes a:hover {
  text-decoration: underline;
}
.footer .footer__contacto {
  grid-area: contacto;
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start;
  justify-content: center;
}
.footer .footer__contacto .footerCard__titulo {
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 1rem;
  margin: inherit;
}
@media screen and (max-width: 650px) {
  .footer .footer__contacto .footerCard__titulo {
    display: none;
  }
}
.footer .footer__contacto .footerCard__list {
  list-style-type: none;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  margin: inherit;
  padding-left: 2.5rem;
}
@media screen and (max-width: 650px) {
  .footer .footer__contacto .footerCard__list {
    padding-left: 1rem;
  }
}
.footer .footer__contacto a {
  text-decoration: none;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
}
.footer .footer__contacto a:hover {
  text-decoration: underline;
}
/* Sección servicios */
.mainServicios .servicios #gradientWeb {
  background-image: linear-gradient(45deg, #0388A6, #04D9D9, #05F2DB);
}
.mainServicios .servicios #gradientMobil {
  background-image: linear-gradient(45deg, #D93232, #F26A1B, #D9CB04);
  position: relative;
}
.mainServicios .servicios #gradientBrand {
  background-image: linear-gradient(45deg, #F24444, #D99982, #9DBF21);
  position: relative;
}
.mainServicios .servicios .cardServicios {
  padding: 5rem;
  display: grid;
  grid-template-areas: "imagen titulo" "imagen texto";
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
  justify-items: center;
  align-items: center;
}
@media screen and (max-width: 950px) {
  .mainServicios .servicios .cardServicios {
    display: flex;
    flex-flow: column wrap;
    align-content: space-around;
    padding: 1rem;
  }
}
.mainServicios .servicios .cardServicios .cardServicios__img {
  grid-area: imagen;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 15px;
}
.mainServicios .servicios .cardServicios .cardServicios__titulo {
  grid-area: titulo;
  display: grid;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 3rem;
}
@media screen and (max-width: 950px) {
  .mainServicios .servicios .cardServicios .cardServicios__titulo {
    font-size: 2rem;
  }
}
.mainServicios .servicios .cardServicios .cardServicios__texto {
  grid-area: texto;
  display: grid;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: unset;
  font-style: italic;
  font-size: 1.5rem;
  align-self: normal;
  padding: 0 3rem;
  line-height: 2rem;
}
@media screen and (max-width: 950px) {
  .mainServicios .servicios .cardServicios .cardServicios__texto {
    font-size: 1rem;
    padding: 1rem;
    line-height: 2rem;
  }
}
.mainServicios .servicios .boton2 {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainServicios .servicios .boton2 .boton2__servicios {
  background-color: #EE0334;
  color: #f1f1f1;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 1.5rem;
  border-radius: 8px;
  text-decoration: none;
  padding: 6px;
  transition-property: background-color;
  transition-duration: 0.2s;
}
.mainServicios .servicios .boton2 .boton2__servicios:hover {
  background-color: #f1f1f1;
  color: #EE0334;
  border: solid 2px #EE0334;
}

/* Seccion Nosotros*/
.mainNosotros {
  background-image: linear-gradient(#0388A6, #05F2DB, #f1f1f1);
}
.mainNosotros .nosotrosCard {
  padding: 5rem;
  color: #f1f1f1;
}
@media screen and (max-width: 950px) {
  .mainNosotros .nosotrosCard {
    padding: 2rem;
  }
}
.mainNosotros .nosotrosCard .nosotrosCard__titulo {
  color: #EE0334;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  margin-top: 2rem;
}
@media screen and (max-width: 950px) {
  .mainNosotros .nosotrosCard .nosotrosCard__titulo {
    font-size: 2rem;
  }
}
.mainNosotros .nosotrosCard .nosotrosCard__texto {
  color: #EE0334;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  font-size: 1.5rem;
  font-style: italic;
  line-height: 4rem;
  text-align: center;
}
@media screen and (max-width: 950px) {
  .mainNosotros .nosotrosCard .nosotrosCard__texto {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.mainNosotros .botonAqui {
  color: #EE0334;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 1.5rem;
  padding: 2px;
}

/* Sección de Contactos*/
.mainGradient {
  background-image: linear-gradient(#0388A6, #05F2DB, #f1f1f1);
  height: 100vh;
  margin: 0 auto;
  padding: 3rem;
}
@media screen and (max-width: 650px) {
  .mainGradient {
    padding: 1rem;
    height: 120vh;
  }
}
.mainGradient .contenedorC {
  background-color: #EE0334;
  border-radius: 15px;
  width: 25rem;
  height: auto;
  margin: auto;
  padding: 1rem;
}
@media screen and (max-width: 650px) {
  .mainGradient .contenedorC {
    width: 90vw;
    height: auto;
  }
}
.mainGradient .contenedorC h1 {
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 3rem;
  text-align: center;
}
@media screen and (max-width: 650px) {
  .mainGradient .contenedorC h1 {
    font-size: 2rem;
  }
}
.mainGradient .contenedorC .contenedorC__form {
  border: solid 2px #f1f1f1;
  border-radius: 8px;
  display: grid;
  margin: auto;
  padding: 1rem;
}
.mainGradient .contenedorC .contenedorC__form .contenedorC__input {
  margin: 6px 0;
  padding: 5px;
  background-color: #f1f1f1;
  color: #EE0334;
  border-radius: 4px;
}
.mainGradient .contenedorC h2 {
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: normal;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
@media screen and (max-width: 650px) {
  .mainGradient .contenedorC h2 {
    font-size: 1rem;
  }
}
.mainGradient .contenedorC .contenedorS {
  text-align: center;
  margin-top: 1rem;
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1rem;
}
.mainGradient .contenedorC .contenedorP {
  margin-top: 1rem;
}
.mainGradient .contenedorC .contenedorP select {
  background-color: #f1f1f1;
  color: #EE0334;
  border-radius: 4px;
  padding: 2px;
}
.mainGradient .contenedorC .contenedorP textarea {
  background-color: #f1f1f1;
  color: #EE0334;
  border-radius: 4px;
  width: 100%;
  height: 6rem;
}
.mainGradient .contenedorC .contenedorP input {
  margin-top: 1rem;
  padding: 2px;
  background-color: #f1f1f1;
  color: #EE0334;
  border-radius: 4px;
}

/* Seccion Portfolio*/
.mainGradient {
  width: 100vw;
  height: auto;
}
.mainGradient h1 {
  color: #f1f1f1;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: bolder;
  font-size: 3rem;
  padding: 2rem;
}
@media screen and (max-width: 650px) {
  .mainGradient h1 {
    font-size: 2rem;
  }
}
.mainGradient .galeria {
  display: flex;
  flex-flow: column wrap;
  width: 90vw;
  height: auto;
  padding: 1rem;
}
.mainGradient .galeria img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}

.botonGeneral {
  background-color: #EE0334;
  color: #f1f1f1;
  font-family: "Open Sans condensed", sans-serif;
  font-size: 1rem;
  border-radius: 8px;
  text-decoration: none;
  padding: 8px;
}
/*# sourceMappingURL=style.css.map */
