/* Sección servicios */

.mainServicios{
    .servicios{
        #gradientWeb{
            background-image: linear-gradient(45deg,#0388A6,#04D9D9,#05F2DB);
        }
        #gradientMobil{
            background-image: linear-gradient(45deg,#D93232,#F26A1B,#D9CB04);
            position: relative;
        }
        #gradientBrand{
            background-image: linear-gradient(45deg,#F24444,#D99982,#9DBF21);
            position: relative; 
        }
        .cardServicios{
            padding: 5rem;
            display: grid;
            grid-template-areas: "imagen titulo" "imagen texto";
            grid-template-columns: 50% 50%;
            grid-template-rows: 50% 50%;
            justify-items: center;
            align-items: center;
            @media screen and (max-width:950px){
            display: flex;
            flex-flow: column wrap;
            align-content: space-around;
            padding: 1rem;
            }
            .cardServicios__img{
                grid-area: imagen;
                object-fit: cover;
                max-width: 100%;
                max-height: 100%;
                border-radius: 15px;
            }
            .cardServicios__titulo{
                grid-area: titulo;
                display: grid;
                color: nth($colores, 2);
                font-family: 'Open Sans Condensed', sans-serif;
                font-weight: bold;
                font-size: 3rem;
                @media screen and (max-width:950px){
                font-size: 2rem;
                }
            }
            .cardServicios__texto{
                grid-area: texto;
                display: grid;
                color: nth($colores, 2);
                font-family: 'Open Sans Condensed', sans-serif;
                font-weight: unset;
                font-style: italic;
                font-size: 1.5rem;
                align-self: normal;
                padding: 0 3rem;
                line-height: 2rem;
                @media screen and (max-width:950px){
                font-size: 1rem;
                padding: 1rem;
                line-height: 2rem;
                }
            }
        }
        .boton2{
            height: 6rem;
            display: flex;
            align-items: center;
            justify-content: center;
            .boton2__servicios{
                background-color: nth($colores, 1);  
                color: #f1f1f1;
                font-family: "Open Sans condensed", sans-serif;
                font-size: 1.5rem;
                border-radius: 8px;
                text-decoration: none;
                padding: 6px;
                transition-property: background-color;
                transition-duration: 0.2s;
                &:hover{
                    background-color: nth($colores, 2);  
                    color: nth($colores, 1);
                    border: nth($border, 1);
                }
            }
        }
    }  
}